@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Gravitas+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Geologica", serif;
}

.footer {
    background-image: url('./image/image.png');
    background-size: cover;
    background-position: center;
    padding: 0 50px;
    color: #fff;
    position: relative;
    margin-top: 80px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark overlay */
    z-index: 1;
}

.footer-content {
    position: relative;
    z-index: 2;
    padding-left: 50px;
    gap: 40px
}

li {
    margin-bottom: 5px;
}

.footer-bottom {
    padding: 0 70px;
}

.footer-bottom::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* Dark overlay */
    height: 58px;
    z-index: 1;
}

@media (max-width: 1110px) {
    .footer-content {
        padding-left: 30px;
        gap: 30px;
    }
    .footer-bottom {
        padding: 0 50px;
    }
}

@media (max-width: 1000px) {
    .footer-content {
        padding-left: 20px;
        gap: 20px;
    }
    .footer-bottom {
        padding: 0 40px;
    }
}

@media (max-width: 870px) {
    .footer-content {
        padding-left: 0;
        gap: 10px;
    }
    .footer-bottom {
        padding: 0 20px;
    }
}

@media (max-width: 680px) {
    .footer-bottom::before {
        height: 80px;
    }
}





.footer-bottom p {
    color: #d0d0d0;
    z-index: 3;
    opacity: 1;
}